#nav-bar {
background-color: #00a087;
color: #e8fdff;
height: 80px;
left:0;
line-height: 80px;
overflow: hidden;
padding-left: 2em;
padding-right: 2em;
position: fixed;
right:0;
text-align: center;
top: 0;

}

#nav-bar .header {
  display: inline-block;
  float: left;
  font-size: 200%;
  padding-left: 10px;
  vertical-align: middle;

}

#nav-bar .logo {
  display: inline-block;
  float: left;
  height :80px;
  width: 80px;

}

