.avatar {
  height:90px;
  width:90px;

}

article {
  border: 1px solid black;
  border-radius:7px;
  margin-top: 10px;
  opacity: .8;
  z-index: 1;

}

.container {
  padding-left: 2em;
  padding-right: 2em;
 }

div {
  float: right;
  padding: 5px;

}
footer {
  padding:10px;
}

footer span {
  padding: 5px;
}

header {
  padding:  10px;
  background-color: #ddd;
  border-radius: 7px;

}

header h3 {
  display:inline-block;
  vertical-align: top;
  font-size: 25px;
  margin-top: 0;

}

header span {
  float: right;

}

i {
  color: #63c6b8;

}

i {
  padding:4px;
}

.icons {
  opacity: 0;
}

.makeRed {
  color: red;

}


.new-tweet {
 background-color: #e6e9ef;
 border-radius: 7px;
 padding: 10px;
 padding-top:1px;

}

.new-tweet textarea {
  padding: 5px;
  width: 100%;

}

.new-tweet .counter {
  float: right;

}

.new-tweet h2 {
  border-bottom: 1px solid black;

}

p {
  padding: 1em;

}

.tweetsWrapper {
  margin-bottom:15px;

}
